/* body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  } */
  /* .home-page{
    display: flex;
    align-items: center; 
     justify-content: center; 
  } */
  .home-Page{
    margin: 0.6rem;
  }

  .all-post{
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    /* margin-left: 2rem;
    margin-right: 2rem; */
    /* align-items: center; */
  }
  
.post-container{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
   border-radius: 0.5rem;
   margin-top: 1rem;
   width: 33rem;
   text-align: left;
   background-color: #fff;
   color: #3d3d3d;
   font-weight: 400;
   padding: 1rem;
   outline: 1px solid #ddd;

}
.profile-image{
    height: 3.5rem;
    border-radius: 50%;
}
.profile-name{
    display: flex;
    flex-direction: column;
}
.profile-channel-name{
    font-size: 12px;
    font-weight: 300;
}
.channel-image{
    height: 18rem;
    width: 25rem;
}
.post-profile{
    display: flex;
    gap: 0.4rem;
    font-weight: 600;
}

/* .news-container */

.news-container{
    display: flex;
    flex-direction: column;
    text-align: left;
    border-radius: 0.5rem;
    padding: 0.8rem;
    padding-top: 0.3rem;
    background-color: #fff;
    margin: 1rem;
    outline: 1px solid #ddd;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.news-container p{
    margin-bottom: 0.4rem;
}

.news-Odd {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 100;
    font-size: 11px;
    color: #3d3d3d;
    margin-bottom: 1rem;
    list-style: none;
}
.news-Even{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14px;
    font-weight: 530;
    margin-bottom: 0.1rem;
}
.news-btn{
    padding: 0.5rem;
    width: 8rem;
    border: none;
    background-color: whitesmoke;
}
.news-btn:hover{
    cursor: pointer;
}
.count-section{
    display: flex;
    justify-content: space-between;
    font-weight: 200;
}
.button-section{
    display: flex;
    justify-content: space-between;
}
.post-btn{
    padding: 0.9rem;
    width: 9rem;
    border: none;
    background-color: #fff;
    font-weight: 300;
    font-size: 14px;
    border-radius: 0.5rem;
}
.post-btn:hover{
    cursor: pointer;
    background-color: #f0eaea;
}
.post-btn img{
    margin-right: 0.4rem;
}

/* comments */
.comment-Box{
    display: flex;
    align-items: center;
}
.comment-Box input{
    width: 70%;
    padding: 0.5rem;
    background-color: #fff;
    border: 1px solid #3d3d3d;
    margin: 0.5rem;
    border-radius: 1rem;
}
.comment-Box button{
    padding: 0.5rem;
    margin-left: 0.2rem;
    border-radius: 1rem;
    width: 4rem;
    background-color: blue;
    border: none;
    color: #ffffff;
}
.commentBox{
    width: 90%;
    background-color: #ddd;
    padding: 0.3rem;
    margin: 0.5rem;
}


/* home profile */

.home-Profile{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 1rem;
    /* margin-left: 2rem; */
    align-items: center;
    align-content: center;
    /* padding: 1rem; */
    font-size: 14px;
    border-radius: 0.5rem;
    background-color: #fff;
    outline: 1px solid #ddd;
    width: 14rem;
}
.image{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    border-radius: 0.5rem;
    background: linear-gradient(to bottom,#5e5c5c67 30% ,#fff 25%);

}
/* discover box */

.discover-box{
    color: black;
    flex-direction: column;
    width: 12rem;
    margin: 1rem;
    border-radius: 0.5rem;
    padding: 1rem;
    background-color: #fff;
    
}
.link-box{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.discover-bottom{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
     display: flex;
     justify-content: center;
    font-size: 14px;
    font-weight: 600;
    color: rgba(73, 70, 70, 0.747);
}