.commentContainer{
    background-color: rgb(226, 223, 223);
    border-radius: 0.5rem;
    margin-top: 0.7rem;
    padding: 0.5rem;
    padding-left: 1rem;
    height: 6rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.commentProfile{
    display: flex;
    gap: 0.7rem;
}