.modalWrapper{
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 2;
    background-color: rgba(0,0,0, 0.9);
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
}
.formContainer{
    margin-top: 4rem;
    display: flex;
    flex-direction: column;
    border: 1px solid red;
    background-color: #fff;
    height: 25rem;
    width: 45rem;
    padding: 1rem;

}
.formContainer input[type='text'] {
    padding: 1rem;
    width: 50%;
    border-radius: 2rem;
    border: 1px solid #999;
}
.textarea{
    padding: 1rem;
    border: 1px solid #999;
}

.customFileInput {
    color: transparent;
  }
  .customFileInput::-webkit-file-upload-button {
    visibility: hidden;
  }
  .customFileInput::before {
    content: 'Choose Image';
    color: black;
    display: inline-block;
    background: -webkit-linear-gradient(top, #f9f9f9, #e3e3e3);
    border: 1px solid #999;
    border-radius: 0.3rem;
    padding: 5px 8px;
    outline: none;
    white-space: nowrap;
    /* -webkit-user-select: none; */
    cursor: pointer;
    text-shadow: 1px 1px #fff;
    font-weight: 700;
    font-size: 10pt;
  }
  .customFileInput:hover::before {
    border-color: black;
  }
  /* .customFileInput:active {
    outline: 0;
  } */
  /* .customFileInput:active::before {
    background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9); 
  } */
  .footer{
    display: flex;
    justify-content: space-between;
    
  }
  .footer input[type='submit'] {
    border-radius: 1rem;
    padding: 8px 10px;
    background-color: rgb(14, 14, 194);
    border: none;
    color: #fff;
    font-weight: 700;
    font-size: 10pt;
  }
  .footer input[type='submit']:hover{
    cursor: pointer;
    background-color: rgb(29, 29, 148);
  }