.events{
    display: flex;
    justify-content: center;
    gap: 3rem;
    
    margin: 2rem;
    
}
.container img{
    height: 18rem;
    width: 18rem;
}
.eventContainer{
    background-color: white;
    /* border: 1px solid black; */
    width: 60%;
    height: 30rem;
    border-radius: 0.5rem;
    outline: 1px solid #ddd;

}
.container{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* border: 1px solid red; */
}

@media screen and (max-width:768px){
    .events{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .eventContainer{
        width: 29rem;
    }
}