.container{
    display: flex;
    /* align-items: center; */
    justify-content: space-evenly;
    /* border: 1px solid black; */
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.heading{
    background-color: #ffffff;
    padding: 0.8rem;
    margin: 1rem;
    font-size: 20px;
    border-radius: 0.5rem;
    outline: 1px solid #ddd;

}
.body{
    display: flex;
    border-radius: 0.5rem;
    flex-direction: column;
    align-items: center;
    background-color: #ffffff;
    padding: 0.8rem;
    width: 50rem;
    height: 25rem;
    outline: 1px solid #ddd;
    margin: 1rem;

}
.body button{
    margin-top: 2rem;
    padding: 0.7rem;
    width: 7rem;
    border: 1px solid blue;
    color: blue;
    font-weight: 600;
    border-radius: 1rem;
}
.body button:hover{
    cursor: pointer;
    background-color: #ffffff;
}

@media screen and (max-width:768px){
    .container{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .heading {
        width: 27rem;
    }
    .body{
        width: 27rem;
    }
}