
.navbar-links{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;
}
.active{
    font-weight: bold;
    border-bottom: 4px solid black;
}
.app-navbar{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0.1rem;
    background-color: rgb(244, 248, 244);
    width: 100%;
    /* position: fixed; */
}
.link-logo {
    display: flex;
    flex-direction: column;
    font-size: 1.1rem;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}