.container{
    display: flex;
    justify-content: center;
    margin: 1rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}
.sideLeft{
    border-radius: 0.5rem;
    background-color: #fff;
    margin-right: 1rem;
    margin-top: 0.7rem;
    padding: 1rem;
    height: 6rem;
    width: 10rem;
    outline: 1px solid #ddd;

}
.sideLeft p{
    font-size: 18px;
    font-weight: 500;
}
.heading{
    border-radius: 0.5rem;
    font-size: 20px;
    font-weight: 500;
    padding: 0.5rem;
    background-color: #fff;
    height: 3rem;
    margin-top: 0.7rem;
    width: 35rem;
    outline: 1px solid #ddd;

}
.NotificationContainer{
    background-color: #fff;
    width: 34rem;
    padding: 1rem;
    margin-top: 1rem;
    border-radius: 0.5rem;
    outline: 1px solid #ddd;

}
.NotificationContainer li{
    margin: 1rem;
}
.NotificationContainer button{
    padding: 0.4rem;
    margin-top: 0.5rem;
    border-radius: 1rem;
    background-color: fff;
    border: 1px solid blue;
    color: blue;
    background-color: #fff;

}
.NotificationContainer button:hover{
    cursor: pointer;
    background-color: #ddd;
}
