.mainContainer{
    display: flex;
    justify-content: space-around;
}
.profileInfoContainer{
    width: 50rem;
    margin: 1rem;
    color: #3d3d3d;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.profileImgView{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 8rem;
    width: 8rem;
    border-radius: 50%;
    background-color: #b3adad;
    border: 3px solid white;
    margin-bottom: 0.5rem;
}
.profileImgView img{
    border-radius: 50%;
    height: 8rem;
    width: 8rem;
}
.profileImgUser{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 7rem;
    width: 7rem;
    border-radius: 50%;
    background-color: #b3adad;
    border: 3px solid white;
    margin-bottom: 0.5rem;
}
.profileImgUser img{
    height: 4rem;
    width: 4rem;
}
.fileInput{
    height: 2rem;
    width: 2rem;
    /* background-color: #3d3d3d; */
}
.chooseImage {
    color: transparent;
    
  }
  .chooseImage::-webkit-file-upload-button {
    visibility: hidden;
  }
  .chooseImage::before {
    content: 'profile Image';
    color: black;
    display: inline-block;
    background: -webkit-linear-gradient(top, #f9f9f9, #e3e3e3);
    border: 1px solid #999;
    border-radius: 0.3rem;
    padding: 4px 4px;
    outline: none;
    white-space: nowrap;
    /* -webkit-user-select: none; */
    cursor: pointer;
    text-shadow: 1px 1px #fff;
    font-weight: 700;
    font-size: 10pt;
  }
  .chooseImage:hover::before {
    border-color: black;
  }
.infoWithImg{
    padding: 1rem;
    outline: 1px solid #ddd;
    height: 20rem;
    padding-top: 4rem;
    border-radius: 0.5rem;
    background: linear-gradient(to bottom,#5e5c5c67 10rem ,#fff 25%);
}
.infoWithImg img{
    border-radius: 50%;
}
.analytic{
    background-color: #fff;
    padding: 1rem;
    margin: 1rem 0rem;
    border-radius: 0.5rem;
    outline: 1px solid #ddd;

}
.resources{
    background-color: #fff;
    padding: 1rem;
    margin: 1rem 0rem;
    border-radius: 0.5rem;
    outline: 1px solid #ddd;

}
.about{
    
    background-color: #fff;
    padding: 1rem;
    margin: 1rem 0rem;
    border-radius: 0.5rem;
    outline: 1px solid #ddd;

}
.aboutHeading{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.about button{
    height: 2rem;
    width: 5rem;
    border: 1px solid blue;
    color: blue;
    border-radius: 1rem;
    cursor: pointer;

}
.aboutModal{
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;
    height: 22rem;
    width: 40rem;
    background-color: #fff;
    border: 2px solid red;
    border-radius: 1rem;

}
.aboutModalDiv{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin: 0rem 2rem 0rem 1rem;

}
.aboutModalDiv textarea{
    padding: 0.5rem;
    border-radius: 0.5rem;

}
.aboutModalDiv button{
    height: 2rem;
    cursor: pointer;
    border-radius: 0.7rem;
    color: blue;
    border: 1px solid #3d3d3d;
    font-weight: 600;
    font-size: 20;
    width: 5rem;
}
.closeBtn{
    width: 2rem;
    /* height: 2; */
    border-radius: 50%;
    line-height: 2rem;
    align-self: flex-end;
    margin-right: 2rem;
    cursor: pointer;
}
.activity{
    background-color: #fff;
    padding: 1rem;
    margin: 1rem 0rem;
    border-radius: 0.5rem;
    display: flex;
    justify-content: space-between;
    outline: 1px solid #ddd;

}
.activity button {
    width: 6rem;
    height: 2.5rem;
    border-radius: 1rem;
    border: 1px solid blue;
    color: blue;
}
.experience{
    background-color: #fff;
    padding: 1rem;
    margin: 1rem 0rem;
    border-radius: 0.5rem;
    outline: 1px solid #ddd;

}
.experience button{
    width: 5rem;
    height: 2rem;
    border-radius: 1rem;
    border: 1px solid blue;
    color: blue;
    cursor: pointer;
}
.experienceModal{
    border: 2px solid teal;
    height: 25rem;
    width: 30rem;
    background-color: #fff;
    border-radius: 0.5rem;
}
.experienceForm{
    margin: 1rem;
}
.experienceForm input{
    margin: 0.5rem;
    padding: 0.3rem;
    width: 24rem;
    border-radius: 0.2rem;
    border: 1px solid #3d3d3d;
}
.close{
    border: 1px solid #3d3d3d;
    border-radius: 50%;
    align-self: stretch;
    margin-left: 28rem;
    margin-top: 1rem;
    margin-bottom: 0px;
    cursor: pointer;
}
.experienceForm input[type="date"]{
    width: 10.4rem;
}
.experienceForm input[type="submit"]{
    width: 5rem;
    height: 2rem;
    border: 1px solid darkblue;
    color: darkblue;
    font-size: 16px;
    font-weight: 600;
    border-radius: 1rem;
    margin-top: 1rem;
}
.education{
    background-color: #fff;
    padding: 1rem;
    margin: 1rem 0rem;
    border-radius: 0.5rem;
    outline: 1px solid #ddd;

}
.education button{
    width: 5rem;
    height: 2rem;
    border-radius: 1rem;
    border: 1px solid blue;
    color: blue;
    cursor: pointer;
}
.educationModal{
    border: 2px solid teal;
    height: 23rem;
    width: 30rem;
    background-color: #fff;
    border-radius: 0.5rem;
}
.educationModal input{
    margin: 0.5rem;
    padding: 0.3rem;
    width: 24rem;
    border-radius: 0.2rem;
    border: 1px solid #3d3d3d;
}
.educationModal input[type="date"]{
    width: 10.4rem;
}
.educationModal input[type="submit"]{
    width: 5rem;
    height: 2rem;
    border: 1px solid darkblue;
    color: darkblue;
    font-size: 16px;
    font-weight: 600;
    border-radius: 1rem;
    margin-top: 1rem;
}
.sideElements{
    margin: 1rem;
}
.img img{
    margin: 1rem;
    border-radius: 0.5rem;
    /* position: fixed; */
    z-index: 2;
}
.add{
    z-index: 1;
    /* position: fixed; */
}

@media screen and (max-width:768px){
    .mainContainer{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .profileInfoContainer{
        width: 29rem;
    }
    .img{
        display: none;
    }
    .infoWithImg{
        padding-top: 1.5rem;
        height: 20rem;
        background: linear-gradient(to bottom,#5e5c5c67 6.5rem ,#fff 25%);
    }
    .profileImgView{
        height: 6rem;
        width: 6rem;
    }
     .profileImgView img{
        width: 6rem;
        height: 6rem;
    } 
    .profileImgUser img{
        height: 4rem;
        width: 4rem;
    }
    
}
